:root {
  /* Colors */
  --color-primary: indigo;
  --color-text: black;
  --color-heading: black;
  --color-white: white;
  --color-black: black;

  /* Typography */
  --typo-text: 'Inter';
  --typo-heading: 'Inter';

  --text-10xl: 6rem;
  --text-9xl: 5.5rem;
  --text-8xl: 5rem;
  --text-7xl: 4.5rem;
  --text-6xl: 4rem;
  --text-5xl: 3.5rem;
  --text-4xl: 3rem;
  --text-3xl: 2.5rem;
  --text-2xl: 2rem;
  --text-xl: 1.5rem;
  --text-lg: 1.25rem;
  --text-md: 1rem;
  --text-sm: 1rem;
  --text-xs: .75rem;


  /* Media Queries */
  --media-xs: $media-xs;
  --media-sm: $media-sm;
  --media-md: $media-md;
  --media-lg: $media-lg;
  --media-xl: $media-xl;

  /* Radius */
  --radius-xs: .5rem;
  --radius-sm: .75rem;
  --radius-md: 1rem;
  --radius-lg: 1.5rem;
  --radius-xl: 2rem;

  /* Gaps */
  --gap-10xl: 4.5rem;
  --gap-9xl: 4rem;
  --gap-8xl: 3.75rem;
  --gap-7xl: 3.5rem;
  --gap-6xl: 3.25rem;
  --gap-5xl: 3rem;
  --gap-4xl: 2.75rem;
  --gap-3xl: 2.5rem;
  --gap-2xl: 2.25rem;
  --gap-xl: 2rem;
  --gap-lg: 1.5rem;
  --gap-md: 1rem;
  --gap-sm: .75rem;
  --gap-xs: .5rem;

  /* Shadows */
  --shadow-sm: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  --shadow: 0 1px 3px 0 rgb(0 0 0 / 0.1), 0 1px 2px -1px rgb(0 0 0 / 0.1);
  --shadow-md: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --shadow-lg: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  --shadow-xl: 0 20px 25px -5px rgb(0 0 0 / 0.1), 0 8px 10px -6px rgb(0 0 0 / 0.1);
  --shadow-2xl: 0 25px 50px -12px rgb(0 0 0 / 0.25);
}